.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    padding-top: 85px;
    font-size: 18px;
    background-color: #6d438e;
}

body, a, a:hover, a:visited {
    color: #ddd;
}

a {
    text-decoration: underline;    
}

.navbar-fixed-top {
    /* Marge supplémentaire à cause de la petite barre d'état sur l'iPad */
    padding-top: 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
}

h2 {
    font-size: 24px;
}

.form-control {
    width: 65%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: ligthgray;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 900px;
        /* XN 730px */
    }
    /* Remove the padding we set earlier */
    
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    
    .jumbotron {
        border-bottom: 0;
    }
}

.proto-select {
    width: auto;
    display: inline;
}

.info {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.question {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.caisses-container {
    text-align: center;
    margin: 50px;
}

.caisse-container {
    display: inline-table;
    width: 230px;
}

.caisse {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    margin: 10px;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 115px;
}

.caisse:hover, .caisse:hover a {
    background-color: #337ab7;
    color: #ddd;
}

.caisse, .caisse-label {
    cursor: pointer;
}

.caisse-label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.caisse-description {
    font-size: 14px;
}

.caisse-details {
    text-align: left;
    font-size: 13px;
}

.caisse span {
}

.caisse ul {
    -webkit-padding-start: 20px;
}

.panel-heading {
    cursor: pointer;
}

.panel-heading a {
    color: #ddd;
}

.panel-body, .panel-body a {
    color: black;
}

.show-details {
    float: left;
}

.delai {
    text-align: right;
    font-style: italic;
}

.infos {
    font-style: italic;
}

.precision {
    font-style: italic;    
}

.panel-body div {
    margin-bottom: 10px;
}

.bordered {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
}

.progress-bar {
    background-color: rgba(164, 51, 183, 0.67);
}

.panel-primary {
    border-color: rgba(164, 51, 183, 0.67);
}

.panel-primary > .panel-heading {
    background-color: rgba(164, 51, 183, 0.67);
    border-color: rgba(164, 51, 183, 0.67);
}