<form ng-submit='nextStep()'>

    <div class='bordered'>

        <p class='question'>
            <span class="glyphicon glyphicon-hand-right">&nbsp;</span>
            Effectuez-vous certaines de vos démarches en ligne ?
            <br/>
            (par exemple : déclaration de revenus, télépaiements, réservations, ...)
        </p>
        <input type="radio" ng-model='enligne' name="inactivite" value="true"> Oui
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model='enligne' name="inactivite" value="false"> Non

    </div>

    <div class='bordered'>
        
        <p class='question'>
            <span class="glyphicon glyphicon-hand-right">&nbsp;</span>
            Avez-vous toujours travaillé ou votre carrière a-t-elle été interrompue ?
        </p>

        <div>
            <label for='nom' class='control-label'>
                <input type="radio" ng-model='inactivite' name="inactivite" value="false">
            </label>
            <span ng-click='inactivite="false"' class=''>
                J'ai toujours travaillé après la fin de ma scolarité / mes études
            </span>
        </div>

        <div>
            <label for='nom' class='control-label'>
                <input type="radio" ng-model='inactivite' name="inactivite" value="true">
            </label>
            <span ng-click='inactivite="true"' class=''>
                J'ai connu des périodes d'inactivité
            </span>
        </div>
        
        <div ng-show="inactivite === 'true'">

            <p class='question'>
                Au total, ces périodes d'inactivité ont duré environ :
            </p>

            <div>
                <label for='nom' class='control-label'>
                    <input type="radio" ng-model='inactiviteDuree' name="inactiviteDuree" value="1">
                </label>
                <span class=''>
                    Moins de 1 an
                </span>
            </div>

            <div>
                <label for='nom' class='control-label'>
                    <input type="radio" ng-model='inactiviteDuree' name="inactiviteDuree" value="2">
                </label>
                <span class=''>
                    De 1 à 3 ans
                </span>
            </div>

            <div>
                <label for='nom' class='control-label'>
                    <input type="radio" ng-model='inactiviteDuree' name="inactiviteDuree" value="3">
                </label>
                <span class=''>
                    Plus de 3 ans
                </span>
            </div>

        </div>

    </div>
    
    <div class='bordered'>

        <p class='question'>
            <span class="glyphicon glyphicon-hand-right">&nbsp;</span>
            Avez-vous connu, depuis votre entrée dans la vie active,
            des périodes de temps partiel avec des revenus inférieurs
            à 1 SMIC mensuel ?
        </p>
        <input type="radio" ng-model='infsmic' name="infsmic" value="true"> 
        <span ng-click='infsmic="true"'>Oui</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model='infsmic' name="infsmic" value="false"> 
        <span ng-click='infsmic="false"'>Non</span>

        <div ng-show="infsmic == 'true'">

            <p class='question'>
                Au total, ces périodes ont duré environ :
            </p>

            <div>
                <label for='nom' class='control-label'>
                    <input type="radio" ng-model='infsmicDuree' name="infsmicDuree" value="1">
                </label>
                <span class=''>
                    Moins de 1 an
                </span>
            </div>

            <div>
                <label for='nom' class='control-label'>
                    <input type="radio" ng-model='infsmicDuree' name="infsmicDuree" value="2">
                </label>
                <span class=''>
                    De 1 à 3 ans
                </span>
            </div>

            <div>
                <label for='nom' class='control-label'>
                    <input type="radio" ng-model='infsmicDuree' name="infsmicDuree" value="3">
                </label>
                <span class=''>
                    Plus de 3 ans
                </span>
            </div>

        </div>

    </div>

    <div class='form-group row'>
        <div class='col-sm-6'>
            <input ng-click='prevStep()' class='btn btn-success' value='Etape précédente' />
        </div>
        <div class='col-sm-6 text-right'>
            <input type='submit' class='btn btn-success' value='Finaliser' />
        </div>
    </div>

</form>

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;">
        4/4
    </div>
</div>