<p class='info'>
    A quelle date avez-vous prévu de prendre votre retraite ?
</p>

<form ng-submit='nextStep()'>

    <div class='form-group row text-center'>

        <select name='naissance.mois' class='form-control proto-select' required >
            <option ng-repeat='mois in listeMois'>{{mois}}</option>
        </select>
        <select name='naissance.annee' class='form-control proto-select' required >
            <option ng-repeat='annee in listeAnneesDepart'>{{annee}}</option>
        </select>

    </div>

    <div class='form-group row'>
        <div class='col-sm-6'>
            <input ng-click='prevStep()' class='btn btn-success' value='Etape précédente' />
        </div>
        <div class='col-sm-6 text-right'>
            <input type='submit' class='btn btn-success' value='Etape suivante' />
        </div>
    </div>

</form>

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 75%;">
        3/4
    </div>
</div>