<p class='info'>
    Vous trouverez ci-dessous la liste et les délais de toutes vos démarches.
</p>

<p class='info'>
    <button class='btn btn-success'>Enregistrer sur mon ordinateur</button>
    <button class='btn btn-success'>M'envoyer par mail</button>
</p>

<h1>Mes interlocuteurs</h1>

<table class="table table-bordered">
    <tr>
        <td>Retraite de base</td>
        <td>MSA</td>
        <td><span class="glyphicon glyphicon-envelope">&nbsp;</span> 5 Place Gustave Rivet<br>
            38000 Grenoble<br>
            <span class="glyphicon glyphicon-phone-alt">&nbsp;</span>09 69 36 87 00</td>
    </tr>
    <tr>
        <td>Retraite complémentaire</td>
        <td>AGIRC-ARRCO</td>
        <td><span class="glyphicon glyphicon-envelope">&nbsp;</span> 1, Rue de la montagne<br>
            38000 GRENOBLE<br>
            <span class="glyphicon glyphicon-phone-alt">&nbsp;</span>0 820 200 189</td>
    </tr>
    
</table>

<h1>Mes démarches pas à pas</h1>

<div ng-repeat='checkPoint in checkList' class="panel panel-primary">
    <div class="panel-heading" ng-click='showCheckPoint = !showCheckPoint'>
        <h2>{{$index+1}}. {{checkPoint.titre}}</h2>
        <div class='show-details' ng-show='checkPoint.infos || checkPoint.actions'><a href='#'>Voir les détails</a></div>
        <div class='delai'>{{checkPoint.delai}}&nbsp;</div>
    </div>
    <div class="panel-body" ng-show='(checkPoint.infos || checkPoint.actions) && showCheckPoint'>
        <div class='infos'>{{checkPoint.infos}}</div>
        <div ng-repeat='action in checkPoint.actions'>
            <span class="glyphicon glyphicon-hand-right">&nbsp;</span> <span ng-bind-html='action'></span>
        </div>
        <div ng-repeat='precision in checkPoint.precisions' class='precision'>
            {{precision}}
        </div>
    </div>
</div>
